/* Center the content in the body */
body {
    display: flex;
    justify-content: center;
}

/* Add a border and margin to #container and #logo */
#container,
#logo {
    border: 1px solid black;
    margin: 20px;
}

/* Set width and height for #container and its child div elements */
#container {
    width: 400px;
    height: 500px;
}

#container>div {
    height: 100%;
}

/* Set width and margin for #signup-options and #details-page */
#signup-options,
#details-page, #goals-page, #stats-page, #further-stats {
    width: 85%;
    margin: auto;
}

/* Set display and layout properties for #signup-form, #signup-options, and #details-page */
#signup-form,
#signup-options,
#details-page,
#goals-page {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
}

/* Center text and set width and margin for all elements inside #signup-form */
#signup-form * {
    text-align: center;
    width: 80%;
    margin: 10px auto;
}

/* Define grid layout for #details-form and its child elements */
#details-form {
    display: grid;
    grid-template-columns: 30% auto;
    grid-template-areas: "labels inputs";
}

/* Add margin to all child elements of #details-page form div */
#details-page form div *, #goals-page form div * {
    margin-bottom: 20px;
}

/* Set font size and display block for all labels under #labels */
#labels label, #goals-form label {
    display: block;
    font-size: 20px;
}

/* Set width for all inputs and selects in #details-form */
#details-form input,
select {
    width: 100%;
}

/* Set width for input type "number" and "radio" in #details-form */
#details-form input[type="number"] {
    width: 30%;
}

#details-form input[type="radio"] {
    width: auto;
}

/* Center and set height for #logo */
#logo {
    height: 40%;
    display: flex;
    justify-content: center;
    align-content: center;
}

/* Set font size and center text in h1 */
h1 {
    font-size: 60px;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
}

#goals-form {
    display: grid;
    grid-template-columns: 10% 40% auto;
    grid-template-areas: "checkboxes goal-labels goal-inputs";
}

#goals-form input[type="checkbox"] {
    margin-top: 8px;
}

#finish {
    width: 100%;
}

/* Hide elements with class "hidden" */
.hidden {
    display: none !important;
}

.clickable:hover {
    background-color: lightgray;
}

.clicked {
    background-color: lightblue;
}

#bottom-bar {
    height: 50px !important;
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
}

p {
    border: 1px solid black;
    border-top: 2px solid black;
    width: 100px;
    height: 50px;
    font-size: 20px;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

#stats-page, #exercise-page, #food-page, #settings-page, #further-stats {
    height: 400px !important;
    padding: 25px 0
}
#main-stat {
    grid-area: main-stat;
}
#stats-page {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: 30% auto auto;
    grid-template-areas: 
    "main-stat main-stat main-stat"
    "a b c"
    "d e f";
}

img {
    width: 100%
}

#stats-page div {
    border: 1px solid black;
    font-size: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.other-stat {
    margin: 30px 18px;
}


#further-stats div {
    height: 10%;
    border: 1px solid black;
    margin: 10px;
}